body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaeaea;
}

.traffic-light {
  width: 120px;
  background-color: #333;
  padding: 10px;
  border-radius: 50px;
}

.light {
  width: 80px;
  height: 80px;
  margin: 15px auto;
  border-radius: 60%;
  border-color: #111;
  border-style: solid black;;
  background-color: #111;
  opacity: 0.9;
}

/* Blinking Red Light */
.red {
  background-color: red;
  animation: blink 1s infinite;
}

/* Other lights stay off */
.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

/* Animation */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}